.project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 220px;
  border: transparent;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;

  &__right-header {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
  }

  &__body {
    cursor: pointer;
  }

  &__members {
    text-align: end;
  }

  &__footer {
    border-top: 0.5px solid rgba(92, 92, 92, 0.233);
    padding-top: 18px;
    margin-bottom: -10px;

    &-row {
      display: flex;
      justify-content: center;
      align-items: end;
    }
  }
}

.project-status {
  font-size: 12px;
  color: white;
  display: inline-block;
  padding: 5px 12px;
  border-radius: 12px;

  &__0 {
    background-color: #bdc3c7;
  }

  &__1 {
    background-color: #2ecc71;
  }

  &__2 {
    background-color: #e74c3c;
  }
}
