.auth {
  &__wrapper {
    width: 100%;
    height: 100vh;
    background-color: rgb(233, 233, 233);
    display: flex;
  }

  &__hero {
    background-image: linear-gradient(#0274d880, #0274d8e7), url(../../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    flex: 60%;
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  &__container {
    height: inherit;
  }

  &__form-container {
    flex: 40%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 0 5px -2px #888;
  }

  &__form {
    width: 70%;
  }

  &__element {
    text-align: center;
  }
}
