.dashboard {
  position: relative;
  display: grid;
  grid-template-columns: 70px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "sidebar main";
}

.content-side {
  grid-area: main;
}

.mainContent {
  background-color: $secondaty-blue-color;
  width: 100%;
  padding-top: 60px;
  min-height: 100vh;
}

.items-center {
  display: flex;
  align-items: center;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.justify-between {
  display: flex;
  justify-content: space-between;
}

.coming-soon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
