.sidebar {
  grid-area: sidebar;
  background-color: #031428;
  height: 100%;
  width: 70px;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &__logo {
    font-size: 40px;
  }
}

.side-nav {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__icon {
    font-size: 25px;
    color: #bdc3c7;
  }
}
