.sidebar {
  grid-area: sidebar;
  background-color: white;
  border-right: 0.5px solid rgb(228, 228, 228);
  height: 100%;
  width: 70px;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  z-index: 999;

  &__logo {
    font-size: 40px;
  }
}

.side-nav {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;

  &__icon {
    font-size: 23px;
    color: #b4babe;
  }
}
