$primary-text-color: #2f3542;
$primary-blue-color: #3f8ff7;
$secondaty-blue-color: #f5f6f9;
$orange-color-1: #f7cb6b;

//Project color icon
$light-orange-color-2: #eeb94f;
$normal-orange-color-2: #e49744;
$light-red-color: #d55c44;
$normal-red-color: #a82b44;
