@import "~antd/dist/antd.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.auth-header {
  text-align: center;
  padding-top: 30px;
}

.auth-logo {
  letter-spacing: 2.5px;
}

.base-wrapper {
  width: 100%;
  height: 100vh;
  background-color: rgb(233, 233, 233);
  position: relative;
}

.form-box {
  width: 32%;
  padding: 30px 45px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-form-button {
  width: 100%;
}

.form-auth-header {
  text-align: center;
  padding-bottom: 12px;
}

.form-auth-footer {
  text-align: center;
  padding-top: 12px;
}

.name-box {
  display: flex;
  justify-content: space-between;
}

.dashboard {
  position: relative;
}

.logo-box {
  padding: 0;
  margin: 0;
}

.logo {
  font-size: 40px;
  font-weight: bold;
  top: 0;
}

.sidebar {
  background-color: white;
  width: 70px;
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-right: 0.5px solid rgb(228, 228, 228);
}

.side-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  top: -80px;
  gap: 50px;
}

.side-profile {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.main {
  margin-left: 70px;
  background-color: khaki;
  min-height: 100vh;
}

.topbar {
  background-color: white;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 30px;
  border-bottom: 0.5px solid rgb(228, 228, 228);
}

.toolbar {
  background-color: white;
  height: 35px;
  width: 100%;
  border-bottom: 0.5px solid rgb(228, 228, 228);
}

.mainContent {
  background-color: rgb(255, 255, 255);
  width: 100%;
  min-height: calc(100vh - 60px);
}

.topbar-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.toolbox {
  position: fixed;
  bottom: 20px;
  right: 30px;
}

.no-content {
  background-color: rgb(245, 245, 245);
  padding: 80px;
  text-align: center;
}

.new-project-form {
  background-color: lawngreen;
  width: 300px;
  height: 300px;
  position: absolute;
  z-index: 999;
}
