.board {
  overflow-x: scroll;

  &__card {
    background-color: white;
    padding: 15px;
    margin: 5px;
    width: 290px;
    border-radius: 10px;

    &-header {
      @extend .justify-between;
      align-items: center;
    }

    &-footer {
      @extend .justify-between;
      margin-top: 20px;
    }
  }
}
