.comment {
  width: 70%;
  padding: 25px 40px;
  border-radius: 12px;
  margin-bottom: 40px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  &__author {
    display: flex;
    align-items: center;
  }

  &__body {
    margin-bottom: 15px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
}
