.files {
  position: relative;
  min-height: 100vh;

  &__storage-tab {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 30px;
  }

  &__folders-container {
    margin-bottom: 80px;
  }

  &__folders-header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 10px;
  }

  &__folders-options {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  &__folders-list {
    display: flex;
    gap: 15px;
  }

  &__recent-files-header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 10px;
  }

  &__recent-options {
    display: flex;
    gap: 10px;
    align-items: center;
  }
}

.files__storage-tab {
  background-color: white;
  position: fixed;
  top: 90px;
  right: 30px;
  width: 390px;
  height: calc(100vh - 120px);
  border-radius: 12px;
}
.files__data {
  width: calc(100% - 410px);
}
