.files {
  position: relative;
  min-height: 100vh;

  &__storage-tab {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 30px;
  }

  &__folders-container {
    margin-bottom: 80px;
  }

  &__folders-header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 10px;
  }

  &__folders-options {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  &__folders-list {
    display: grid;

    grid-template-columns: repeat(5, 1fr);

    grid-auto-rows: auto;

    grid-gap: 1rem;
  }

  &__recent-files-header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 10px;
  }

  &__recent-options {
    display: flex;
    gap: 10px;
    align-items: center;
  }
}

.file {
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
  }

  &-card {
    border-radius: 10px;
    padding: 15px;
  }

  &__icon {
    width: 100px;
    background-color: #f8f8fb;
    padding: 8px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  }
}

.files__storage-tab {
  background-color: white;
  position: fixed;
  top: 90px;
  right: 30px;
  width: 390px;
  height: calc(100vh - 120px);
  border-radius: 12px;
}
.files__data {
  width: 100%;
}
