.folder-card {
  background-color: white;
  height: 140px;
  border-radius: 12px;
  padding: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: all 0.4s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__icon {
    font-size: 30px;
  }

  &__text {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-weight: bolder;
  }

  &__count {
    font-size: 12px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &--empty {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.folder {
  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
}
