.session {
  height: calc(100vh - 180px);
  display: flex;

  &__welcome {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__preview {
    background-color: #0275d8;
    padding: 15px 20px;
    margin-bottom: 7px;
    border-radius: 10px;
    width: 100%;
    height: 100%;

    &-title {
      font-size: 12px;
      font-weight: bolder;
      color: white;
      text-transform: uppercase;
    }
  }

  &__control-btns {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }

  &__control-btn {
    margin-right: 5px;
  }

  &__panel-item {
    background-color: #f7dbca;
    padding: 10px 18px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__panel-datetime {
    display: flex;
    align-items: center;
  }

  &__item {
    &-name {
      font-size: 32px;
      margin-bottom: 30px;
    }

    &-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-auto-rows: auto;
      margin-bottom: 25px;
    }

    &-col {
      font-size: 12px;
      font-weight: 500;
      color: #a4b0be;
      text-transform: uppercase;
    }

    &-date {
      display: flex;
      gap: 8px;
      align-items: center;
    }
  }

  &__content {
    background-color: white;
    padding: 25px 35px;
    position: relative;
    height: calc(100vh - 180px);
    flex: 1;
    border-radius: 12px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    overflow: scroll;
  }

  &__control-panel {
    background-color: white;
    margin-right: 25px;
    padding: 25px 35px;
    height: calc(100vh - 180px);
    width: 450px;
    border-radius: 12px;
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
}
