.task {
  &-preview {
    display: flex;
    justify-content: space-between;
    background-color: #ecf0f1;
    padding: 15px 15px;
    margin-bottom: 8px;
    border-radius: 10px;
  }

  &__card {
    padding: 15px;
    height: 190px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__visual-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-gap: 15px;
  }
}
