.team {
  &__invite {
    background-image: linear-gradient(#0274d8d7, rgba(75, 169, 224, 0.74)), url(../../img/invite_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    margin-bottom: 20px;
  }
}
